<div id="headerwrap">
	<% if ! user_signed_in? %>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>Organize your life! <br>(What's on your plate?)</h1>
					<div class="signup">
						<%= render :file => 'registrations/new' %>
					</div>
				</div><!-- /col-lg-6 -->

			</div><!-- /row -->
 
		</div><!-- /container -->
		<% end %>
 
	</div><!-- /headerwrap -->
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1><span class="app-title">On My Plate</span><br>Keep track of what's important!</h1>
				<h3>Self-destructing tasks keep your to-do list uncluttered.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<%= image_tag("cloud.jpg",  size: '180') %>
				<h4>1 - Cloud storage</h4>
				<p></p>Your tasks are stored on the cloud, so they are always available, from any computer or smart phone.</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<%= image_tag("security.gif",  size: '180') %>
				<h4>2 - Security (TBD)</h4>
				<p>Your data will be encrypted, to prevent hackers from getting your task data.</p>

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<%= image_tag("expired.jpg",  size: '180') %>
				<h4>3 - Expiring tasks</h4>
				<p>Items on your to-do list expire after seven days, leaving only the most important tasks.</p>

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Send me more information!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1><span class="app-title">On My Plate</span><br>is for Everyone.</h1>
				<h3>It is so powerful, yet so easy to use. Students, teachers, parents and entrepreneurs will all love <span class="app-title">On My Plate</span></h3>
			</div>
		</div><!-- /row -->
	
		<! -- CAROUSEL -->
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
   				    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
				  </ol>
				
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item active">
				    	<%= image_tag("student.jpg",  size: '320') %>
				    </div>
				    <div class="item">
				    	<%= image_tag("teacher.jpg",  size: '320') %>
				    </div>
				    <div class="item">
				    	<%= image_tag("parent.jpg",  size: '320') %>
				    </div>
				    <div class="item">
				    	<%= image_tag("entrepreneur.jpg",  size: '320') %>
				    </div>
				  </div>
				</div>			
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
	</div><! --/container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Put me on your mailing list!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->

	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Our Awesome Team.<br/>Lovers of To-Do Lists.</h1>
				<h3>Our team has dedicated our lives to improving to-do lists.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
		    	<%= image_tag("wonder-woman.jpg", class: "img-circle", width:"140") %>
				<h4>Wonder Woman -- Mentor</h4>
				<p>Wonder Woman fights injustice and bad coding practices.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
		    	<%= image_tag("vince.jpg", class: "img-circle", width:"140") %>
				<h4>Vince -- Mentor Emeritus</h4></h4>
				<p>Vince invented the concept of a to-do list.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
		    	<%= image_tag("daryl-2.jpg", class: "img-circle", width:"140") %>
				<h4>Daryl McCullough -- Coder</h4>
				<p>Daryl McCullough did most of the coding for On My Plate. He doesn't want to use a photograph because he is in the witness protection program.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">I want to join your team!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
		<p class="centered">Created by BlackTie.co - Attribution License 3.0 - 2013</p>
	</div><!-- /container -->
